# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\informatika\infa_project\first_attempt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
